*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("img/street.jpg");
    background-size: 100%;
}

#wrapper{
    width: 400px;
    height: 400px;
    background: #f7f5f5;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.226);

    border-radius: 10px;
}

#wrapper h1{
    font-size: 50px;
}


.js-todo-input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    background: inherit;
    border: 4px solid #f7f5f5;
    border-bottom: 2px solid #424242;
}

#task-wrapper{
    margin-top: 15px;
    width: 100%;
    height: 60%;
    overflow: auto;
}

/* list */
#js-todo-list{
    list-style: none;
    text-align: left;
}

.todo-item{
    min-height: 30px;
    font-size: 20px;
    box-sizing: content-box;
    border-bottom:  1px #42424248 solid;
    align-items: center;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item input[type=checkbox]{
    height: 15px;
    width: 15px;
    appearance: none;
    -moz-appearance: none;
    border: 1px solid #424242;
    border-radius: 4px;
    transition-duration: 0.3s;
    margin: 20px;
    box-sizing: border-box;
}

.todo-item input:checked{
    background-color: #424242;
}

.todo-item span{
    flex: 2;
}